<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ejemplos Flex</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
  <div class="container">
    <section class="containerTitle">
      <h3>
        <span>
          <a type="button" (click)="goBack()">
            <i class="fas fa-chevron-left"></i>
          </a>
        </span>
        {{ subtopic?.title }}
      </h3>
    </section>
    <section class="containerDes">
      <a class="navegacionDescativo">Presentación</a>
      <a class="navegacionActivo">Contenido</a>
      <section class="linead">
        <hr class="linea1">
        <hr class="linea2">
        </section>
    </section>
    <hr>

    <div class="contenedorGeneral">
      <div class="menu">
        <div class="scroll">
            <p class="negrita">Subtema: {{ subtopic.title }}</p>
            <div class="opciones" *ngFor="let opcion of opciones" (click)="selectOption(opcion)" [class.selected]="selectedOption === opcion">
              <i class="fa-solid fa-check-double"></i> {{ opcion }}
            </div>
        </div>
      </div>
      
      <section>
        <div [ngSwitch]="selectedTab.name">
          <div *ngSwitchCase="'CLASES'">
            <ng-container *ngIf="user">
              <ng-container *ngIf="this.contents.length === 0">
                <app-form-add-lesson></app-form-add-lesson>
              </ng-container>
            </ng-container>
            <ng-container *ngIf="this.contents.length > 0">
              <app-lessons></app-lessons>
            </ng-container>
          </div>
        </div>
      </section>
    </div>
  </div>
</body>
</html>
